###################
# Global Settings #
###################

stages:
  - Env
  - Canary
  - Build
  - Test
  - Format

variables:
  GET_SOURCES_ATTEMPTS: 10
  ARTIFACT_DOWNLOAD_ATTEMPTS: 10
  RESTORE_CACHE_ATTEMPTS: 10
  GIT_STRATEGY: fetch
  GLOBAL_CI_VARIABLE: "global_ci_value"
  CI_JOB_NAME_TMP: ${CI_JOB_NAME}
  CI_JOB_NAME_NOSTAGE: ${CI_JOB_NAME_TMP#*:}
  #CI_DEBUG_TRACE: "true"
  http_proxy: "http://proxyout.lanl.gov:8080"
  https_proxy: "http://proxyout.lanl.gov:8080"
  ftp_proxy: "http://proxyout.lanl.gov:8080"
  no_proxy: "lanl.gov"
  SPACK_ROOT: /home/gitlab-runner/ci-spack/spack
  DEPS_LOCK: /home/gitlab-runner/ci-spack/deps.pid
  lock_fd: 314
before_script:
  - echo ${CI_JOB_NAME_NOSTAGE%.*}-${CI_COMMIT_REF_SLUG}
  - '[ "$(git rev-parse origin/$CI_COMMIT_REF_NAME)" != "$CI_COMMIT_SHA" ] && curl --header "PRIVATE-TOKEN: $MY_CI_API_TOKEN" -X POST https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/pipelines/$CI_PIPELINE_ID/cancel'
  #- find . -name "`basename cinch`" | grep "cinch\$" | xargs rm -fr

###################
###################
###################

#############
# Env Stage #
#############

.env:
  retry: 2
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    CCACHE_DIR: "${CI_PROJECT_DIR}/ccache"
    CCACHE_UMASK: 000
    DISTRO: ""
    RUNTIME: ""
    CC: "gcc"
    CXX: "g++"
    CXXFLAGS: "-Werror -Wno-deprecated-declarations"
    BUILD_TYPE: "Debug"
    IGNORE_NOCI: "FALSE"
  stage: Env
  tags:
    - shell
  cache:
    #key: ${CI_JOB_NAME_NOSTAGE%.*}-${CI_COMMIT_REF_SLUG}
    #key: ${CI_COMMIT_REF_SLUG}
    # key: ${DISTRO}-${RUNTIME}-${CC}
    # paths:
    #   - ccache/
  artifacts:
    # name: "${CI_COMMIT_REF_SLUG}-${CI_JOB_NAME}"
    # paths:
    #   - ${CI_PROJECT_DIR}/build #/builds/next-generation-codes/laristra/flecsi/build
    # when: always
  dependencies: []
  script:
    - mkdir -p build
    - cd ${CI_PROJECT_DIR}/build/;
    - cp ${CI_PROJECT_DIR}/spack/repo_env.yaml ./spack.yaml
    - exec {lock_fd}>${DEPS_LOCK}
    - |
      if [[ ${I_WANT_TO_CLEAN_UP} ]];
      then
        rm -rf ${SPACK_ROOT}/*;
      fi
    - flock -n "${lock_fd}"
    - |
      if [[ ! -d ${SPACK_ROOT} ]];
      then
        git init --shared=group ${SPACK_ROOT};
        git -c ${SPACK_ROOT} pull https://github.com/spack/spack v0.12.1;
      fi
    - source ${SPACK_ROOT}/share/spack/setup-env.sh
    - spack concretize -f
    - spack install
    - flock -u "${lock_fd}"
    - export BOOST_ROOT=`spack find -p boost`


################
# Canary Stage #
################

.canary:
  retry: 2
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    CCACHE_DIR: "${CI_PROJECT_DIR}/ccache"
    CCACHE_UMASK: 000
    DISTRO: ""
    RUNTIME: ""
    CC: "gcc"
    CXX: "g++"
    CXXFLAGS: "-Werror -Wno-deprecated-declarations"
    BUILD_TYPE: "Debug"
    IGNORE_NOCI: "FALSE"
  image:
    name: laristra/flecsi-third-party:${DISTRO} #user: flecsi
  stage: Canary
  tags:
    - docker
  cache:
    #key: ${CI_JOB_NAME_NOSTAGE%.*}-${CI_COMMIT_REF_SLUG}
    #key: ${CI_COMMIT_REF_SLUG}
    key: ${DISTRO}-${RUNTIME}-${CC}
    paths:
      - ccache/
  artifacts:
    name: "${CI_COMMIT_REF_SLUG}-${CI_JOB_NAME}"
    paths:
      - ${CI_PROJECT_DIR}/build #/builds/next-generation-codes/laristra/flecsi/build
    when: always
  dependencies: []
  script:
    - |
      if [[ ${CI_JOB_STAGE} = "Canary" || ${CI_JOB_STAGE} = "Build" ]];
      then
        ccache -z;
        nproc;
        # git submodule init;
        # git config submodule.cinch.url https://github.com/laristra/cinch.git;
        # git submodule update --init --recursive;
        mkdir -p build;
        cd ${CI_PROJECT_DIR}/build/;
        cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE \
          -DFLECSI_RUNTIME_MODEL=$RUNTIME \
          ${MINIMAL:+-DCMAKE_DISABLE_FIND_PACKAGE_METIS=ON} \
          -DFLECSI_ENABLE_TUTORIAL=$([ "$RUNTIME" = "hpx" ] && echo OFF || echo ON) \
          -DENABLE_UNIT_TESTS=ON \
          -DENABLE_PARMETIS=ON \
          -DENABLE_COLORING=ON \
          -DENABLE_DOXYGEN=ON \
          -DENABLE_DOCUMENTATION=OFF \
          -DENABLE_COVERAGE_BUILD=ON \
          ..;
        make -k VERBOSE=1 -j2 -l80;
        make doxygen;
        mkdir -p install;
        make install DESTDIR=install;
        sudo make install;
        ccache -s;
      fi;
    - |
      if [[ ${CI_JOB_STAGE} = "Canary" || ${CI_JOB_STAGE} = "Test" ]];
      then
        cd ${CI_PROJECT_DIR}/build/;
        make test ARGS="-V";
        $HOME/.local/bin/gcovr .;
      fi;
    - |
      if [[ ${CI_JOB_STAGE} = "Format" ]];
      then
        cd ${CI_PROJECT_DIR}/build/;
        clang-format -version;
        make format && git diff --exit-code --ignore-submodules;
      fi;
    - |
      if [[ ${CI_JOB_STAGE} = "Canary" ]];
      then
        git clone https://github.com/laristra/flecsale.git;
        cd flecsale/flecsi;
        git pull origin master;
        git submodule update --init --recursive;
        cd ../;
        mkdir build;
        cd build;
        cmake -DCMAKE_BUILD_TYPE=${BUILD_TYPE} \
          -DFLECSI_RUNTIME_MODEL=mpi \
          -DENABLE_UNIT_TESTS=ON \
          ..;
        make -j2 || make VERBOSE=1;
        if [[ ${RUNTIME} = "mpi" ]];
        then
          make test ARGS="CTEST_OUTPUT_ON_FAILURE=1";
        fi;
      fi;

###############
# Build Stage #
###############

.build:
  extends: .canary
  stage: Build

##############
# Test Stage #
##############

.test:
  extends: .canary
  stage: Test
  dependencies:
    #- "build:${CI_JOB_NAME#*:}"
    - .build

################
# Format Stage #
################

.format:
  extends: .canary
  stage: Format
  dependencies:
    #- build:${CI_JOB_NAME#*:}
    - .build

################
################
################

############
# Env Jobs #
############

env:
  extends: .env

###############
# Canary Jobs #
###############

canary:fedora_mpi:
  extends: .canary
  variables:
    DISTRO: "fedora"
    RUNTIME: "mpi"

canary:fedora_legion:
  extends: .canary
  variables:
    DISTRO: "fedora"
    RUNTIME: "legion"

canary:fedora_shell:
  extends: .canary
  tags:
    - shell
  dependencies: 
    - env
  variables:
    DISTRO: "shell"
    RUNTIME: "mpi"

##############
# Build Jobs #
##############

build:ubuntu_mpi:
  extends: .build
  variables:
    DISTRO: "ubuntu"
    RUNTIME: "mpi"

build:ubuntu_mpi_release:
  extends: build:ubuntu_mpi
  variables:
    BUILD_TYPE: "Release"

build:ubuntu_mpi_clang:
  extends: build:ubuntu_mpi
  #before_script:
  #  - export CC=clang
  #  - export CXX=clang++
  variables:
    CC: clang
    CXX: clang++

build:ubuntu_mpi_clang_release:
  extends: build:ubuntu_mpi_clang
  variables:
    BUILD_TYPE: "Release"

build:ubuntu_mpich_mpi:
  extends: .build
  variables:
    DISTRO: "ubuntu_mpich"
    RUNTIME: "mpi"

build:ubuntu_mpich_mpi_release:
  extends: build:ubuntu_mpich_mpi
  variables:
    BUILD_TYPE: "Release"

build:ubuntu_mpich_mpi_clang:
  extends: build:ubuntu_mpich_mpi
  variables:
    CC: clang
    CXX: clang++

build:ubuntu_mpich_mpi_clang_release:
  extends: build:ubuntu_mpich_mpi_clang
  variables:
    BUILD_TYPE: "Release"

build:fedora_mpi:
  extends: .build
  variables:
    DISTRO: "fedora"
    RUNTIME: "mpi"

build:fedora_mpi_release:
  extends: build:fedora_mpi
  variables:
    BUILD_TYPE: "Release"

build:fedora_mpi_clang:
  extends: build:fedora_mpi
  variables:
    CC: clang
    CXX: clang++

build:fedora_mpi_clang_release:
  extends: build:fedora_mpi_clang
  variables:
    BUILD_TYPE: "Release"

build:fedora_mpich_mpi:
  extends: .build
  variables:
    DISTRO: "fedora_mpich"
    RUNTIME: "mpi"

build:fedora_mpich_mpi_release:
  extends: build:fedora_mpich_mpi
  variables:
    BUILD_TYPE: "Release"

build:fedora_mpich_mpi_clang:
  extends: build:fedora_mpich_mpi
  variables:
    CC: clang
    CXX: clang++

build:fedora_mpich_mpi_clang_release:
  extends: build:fedora_mpich_mpi_clang
  variables:
    BUILD_TYPE: "Release"

build:ubuntu_legion:
  extends: .build
  variables:
    DISTRO: "ubuntu"
    RUNTIME: "legion"

build:ubuntu_legion_release:
  extends: build:ubuntu_legion
  variables:
    BUILD_TYPE: "Release"

build:ubuntu_legion_clang:
  extends: build:ubuntu_legion
  variables:
    CC: clang
    CXX: clang++

build:ubuntu_legion_clang_release:
  extends: build:ubuntu_legion_clang
  variables:
    BUILD_TYPE: "Release"

build:ubuntu_mpich_legion:
  extends: .build
  variables:
    DISTRO: "ubuntu_mpich"
    RUNTIME: "legion"

build:ubuntu_mpich_legion_release:
  extends: build:ubuntu_mpich_legion
  variables:
    BUILD_TYPE: "Release"

build:ubuntu_mpich_legion_clang:
  extends: build:ubuntu_mpich_legion
  variables:
    CC: clang
    CXX: clang++

build:ubuntu_mpich_legion_clang_release:
  extends: build:ubuntu_mpich_legion_clang
  variables:
    BUILD_TYPE: "Release"

build:fedora_legion:
  extends: .build
  variables:
    DISTRO: "fedora"
    RUNTIME: "legion"

build:fedora_legion_release:
  extends: build:fedora_legion
  variables:
    BUILD_TYPE: "Release"

build:fedora_legion_clang:
  extends: build:fedora_legion
  variables:
    CC: clang
    CXX: clang++

build:fedora_legion_clang_release:
  extends: build:fedora_legion_clang
  variables:
    BUILD_TYPE: "Release"

build:fedora_mpich_legion:
  extends: .build
  variables:
    DISTRO: "fedora_mpich"
    RUNTIME: "legion"

build:fedora_mpich_legion_release:
  extends: build:fedora_mpich_legion
  variables:
    BUILD_TYPE: "Release"

build:fedora_mpich_legion_clang:
  extends: build:fedora_mpich_legion
  variables:
    CC: clang
    CXX: clang++

build:fedora_mpich_legion_clang_release:
  extends: build:fedora_mpich_legion_clang
  variables:
    BUILD_TYPE: "Release"

build:fedora_hpx:
  extends: .build
  variables:
    DISTRO: "fedora"
    RUNTIME: "hpx"
  allow_failure: true

build:fedora_hpx_clang:
  extends: build:fedora_hpx
  variables:
    CC: clang
    CXX: clang++

#############
# Test Jobs #
#############

test:ubuntu_mpi:
  extends: .test
  dependencies:
    - build:ubuntu_mpi
  variables:
    DISTRO: "ubuntu"

test:ubuntu_mpi_release:
  extends: test:ubuntu_mpi
  dependencies:
    - build:ubuntu_mpi_release

test:ubuntu_mpi_clang:
  extends: test:ubuntu_mpi
  dependencies:
    - build:ubuntu_mpi_clang

test:ubuntu_mpi_clang_release:
  extends: test:ubuntu_mpi_clang
  dependencies:
    - build:ubuntu_mpi_clang_release

test:ubuntu_mpich_mpi:
  extends: .test
  dependencies:
    - build:ubuntu_mpich_mpi
  variables:
    DISTRO: "ubuntu_mpich"

test:ubuntu_mpich_mpi_release:
  extends: test:ubuntu_mpich_mpi
  dependencies:
    - build:ubuntu_mpich_mpi_release

test:ubuntu_mpich_mpi_clang:
  extends: test:ubuntu_mpich_mpi
  dependencies:
    - build:ubuntu_mpich_mpi_clang

test:ubuntu_mpich_mpi_clang_release:
  extends: test:ubuntu_mpich_mpi_clang
  dependencies:
    - build:ubuntu_mpich_mpi_clang_release

test:fedora_mpi:
  extends: .test
  dependencies:
    - build:fedora_mpi
  variables:
    DISTRO: "fedora"

test:fedora_mpi_release:
  extends: test:fedora_mpi
  dependencies:
    - build:fedora_mpi_release

test:fedora_mpi_clang:
  extends: test:fedora_mpi
  dependencies:
    - build:fedora_mpi_clang

test:fedora_mpi_clang_release:
  extends: test:fedora_mpi_clang
  dependencies:
    - build:fedora_mpi_clang_release

test:fedora_mpich_mpi:
  extends: .test
  dependencies:
    - build:fedora_mpich_mpi
  variables:
    DISTRO: "fedora_mpich"

test:fedora_mpich_mpi_release:
  extends: test:fedora_mpich_mpi
  dependencies:
    - build:fedora_mpich_mpi_release

test:fedora_mpich_mpi_clang:
  extends: test:fedora_mpich_mpi
  dependencies:
    - build:fedora_mpich_mpi_clang

test:fedora_mpich_mpi_clang_release:
  extends: test:fedora_mpich_mpi_clang
  dependencies:
    - build:fedora_mpich_mpi_clang_release

test:ubuntu_legion:
  extends: .test
  dependencies:
    - build:ubuntu_legion
  variables:
    DISTRO: "ubuntu"

test:ubuntu_legion_release:
  extends: test:ubuntu_legion
  dependencies:
    - build:ubuntu_legion_release

test:ubuntu_legion_clang:
  extends: test:ubuntu_legion
  dependencies:
    - build:ubuntu_legion_clang

test:ubuntu_legion_clang_release:
  extends: test:ubuntu_legion_clang
  dependencies:
    - build:ubuntu_legion_clang_release

test:ubuntu_mpich_legion:
  extends: .test
  dependencies:
    - build:ubuntu_mpich_legion
  variables:
    DISTRO: "ubuntu_mpich"

test:ubuntu_mpich_legion_release:
  extends: test:ubuntu_mpich_legion
  dependencies:
    - build:ubuntu_mpich_legion_release

test:ubuntu_mpich_legion_clang:
  extends: test:ubuntu_mpich_legion
  dependencies:
    - build:ubuntu_mpich_legion_clang

test:ubuntu_mpich_legion_clang_release:
  extends: test:ubuntu_mpich_legion_clang
  dependencies:
    - build:ubuntu_mpich_legion_clang_release

test:fedora_legion:
  extends: .test
  dependencies:
    - build:fedora_legion
  variables:
    DISTRO: "fedora"

test:fedora_legion_release:
  extends: test:fedora_legion
  dependencies:
    - build:fedora_legion_release

test:fedora_legion_clang:
  extends: test:fedora_legion
  dependencies:
    - build:fedora_legion_clang

test:fedora_legion_clang_release:
  extends: test:fedora_legion_clang
  dependencies:
    - build:fedora_legion_clang_release

test:fedora_mpich_legion:
  extends: .test
  dependencies:
    - build:fedora_mpich_legion
  variables:
    DISTRO: "fedora_mpich"

test:fedora_mpich_legion_release:
  extends: test:fedora_mpich_legion
  dependencies:
    - build:fedora_mpich_legion_release

test:fedora_mpich_legion_clang:
  extends: test:fedora_mpich_legion
  dependencies:
    - build:fedora_mpich_legion_clang

test:fedora_mpich_legion_clang_release:
  extends: test:fedora_mpich_legion_clang
  dependencies:
    - build:fedora_mpich_legion_clang_release

test:fedora_hpx:
  extends: .test
  dependencies:
    - build:fedora_hpx
  variables:
    DISTRO: "fedora"
  allow_failure: true

test:fedora_hpx_clang:
  extends: test:fedora_hpx
  dependencies:
    - build:fedora_hpx_clang

test:fedora_mpi.ignoreNoCI:
  extends: test:fedora_mpi
  dependencies:
    - build:fedora_mpi
  variables:
    IGNORE_NOCI: "TRUE"
  allow_failure: true

test:fedora_legion.ignoreNoCI:
  extends: test:fedora_legion
  dependencies:
    - build:fedora_legion
  variables:
    IGNORE_NOCI: "TRUE"
  allow_failure: true

test:fedora_hpx.ignoreNoCI:
  extends: test:fedora_hpx
  dependencies:
    - build:fedora_hpx
  variables:
    IGNORE_NOCI: "TRUE"
  allow_failure: true

###############
# Format Jobs #
###############

format:fedora:
  extends: .format
  dependencies:
    - build:fedora_mpi
  variables:
    DISTRO: "fedora"

###############
###############
###############

