*.swp
*.pyc
CMakeCache.txt
CMakeFiles
cmake_install.cmake
compile_commands.json
*~
.DS_Store
build
build*
builds
*_build
*.Linux
*.tex
*.log
*.aux
.vscode

flecsi-tutorial/*/*.tex
flecsi-tutorial/*/*.log
flecsi-tutorial/*/*.aux
flecsi-tutorial/*/*.pdf
flecsi-tutorial/*/driver
flecsi-tutorial/*/tasks
flecsi-tutorial/*/data-clients
flecsi-tutorial/*/functions
flecsi-tutorial/*/futures
flecsi-tutorial/*/index-spaces
flecsi-tutorial/*/fields
flecsi-tutorial/*/dense-data
flecsi-tutorial/*/sparse-data
flecsi-tutorial/*/ragged-data
flecsi-tutorial/*/forall
flecsi-tutorial/*/global-objects
flecsi-tutorial/*/mpi-interoperability
