language: generic

sudo: required

services:
- docker

env:
  matrix:
    - DOCKERFILE=ubuntu MINIMAL=ON MPI=OFF RUNTIME=serial
    - DOCKERFILE=ubuntu_tpl MPI=OFF RUNTIME=legion    DOCKERHUB=true
    - DOCKERFILE=ubuntu_tpl MPI=OFF RUNTIME=legion    WERROR=yes
    - DOCKERFILE=ubuntu_tpl MPI=ON  RUNTIME=mpilegion DOCKERHUB= rue
    - DOCKERFILE=ubuntu_tpl MPI=ON  RUNTIME=mpilegion WERROR=yes
    - DOCKERFILE=ubuntu MPI=ON   RUNTIME=mpi                 DOCKERHUB=true
    - DOCKERFILE=ubuntu MPI=ON   RUNTIME=mpi WERROR=yes
    - DOCKERFILE=ubuntu MPI=OFF  RUNTIME=serial WERROR=yes   DOCKERHUB=true
    - DOCKERFILE=ubuntu MPI=OFF  COVERAGE=ON RUNTIME=serial

    - DOCKERFILE=fedora MINIMAL=ON MPI=OFF RUNTIME=serial
    - DOCKERFILE=fedora_tpl MPI=OFF RUNTIME=legion    DOCKERHUB=true
    - DOCKERFILE=fedora_tpl MPI=OFF RUNTIME=legion    WERROR=yes
    - DOCKERFILE=fedora_tpl MPI=ON  RUNTIME=mpilegion DOCKERHUB=true
    - DOCKERFILE=fedora_tpl MPI=ON  RUNTIME=mpilegion WERROR=yes
    - DOCKERFILE=fedora MPI=ON  RUNTIME=mpi                  DOCKERHUB=true
    - DOCKERFILE=fedora MPI=ON  RUNTIME=mpi WERROR=yes
    - DOCKERFILE=fedora MPI=OFF RUNTIME=serial WERROR=yes    DOCKERHUB=true
    - DOCKERFILE=fedora MPI=OFF RUNTIME=serial COVERAGE=ON

script:
 - docker build --build-arg MPI=${MPI} --build-arg RUNTIME=${RUNTIME} --build-arg WERROR=${WERROR}
                --build-arg COVERAGE=${COVERAGE} --build-arg MINIMAL=${MINIMAL}
                --build-arg TRAVIS=${TRAVIS} --build-arg TRAVIS_BRANCH=${TRAVIS_BRANCH}
                --build-arg TRAVIS_COMMIT=${TRAVIS_COMMIT}
                --build-arg TRAVIS_PULL_REQUEST=${TRAVIS_PULL_REQUEST}
                --build-arg TRAVIS_REPO_SLUG=${TRAVIS_REPO_SLUG}
                -t flecsi/flecsi:${DOCKERFILE}_${RUNTIME} -f docker/${DOCKERFILE} docker/

after_success:
  - if [[ ${DOCKERHUB} = true && ${DOCKER_EMAIL} && ${DOCKER_USERNAME} && ${DOCKER_PASSWORD} && ${TRAVIS_PULL_REQUEST} == false && ${TRAVIS_BRANCH} == master ]]; then
      docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
      docker push "flecsi/flecsi:${DOCKERFILE}_${RUNTIME}";
    fi
  - if [[ ${TRAVIS_JOB_NUMBER} = *.1 ]]; then
      rm -rf cinch;
      git fetch origin gh-pages && git checkout -b gh-pages FETCH_HEAD;
      mkdir -p doxygen;
      CON=$(docker run -d flecsi/flecsi:${DOCKERFILE}_${RUNTIME}) && docker cp ${CON}:/tmp/flecsi/build/doc/doxygen/html . ;
      mv html/* doxygen && rmdir html;
      if [[ ${TRAVIS_BRANCH} = master && ${encrypted_5669a181ba27_key} && ${encrypted_5669a181ba27_iv} && ${TRAVIS_PULL_REQUEST} == false ]]; then
        git config --global user.name "Automatic Deployment (Travis CI)";
        git config --global user.email "flecsi-commit@lanl.gov";
        git add --all doxygen && git commit -m "Documentation Update";
        openssl aes-256-cbc -K $encrypted_5669a181ba27_key -iv $encrypted_5669a181ba27_iv -in deploy.enc -out ~/.ssh/id_rsa -d;
        chmod 600 ~/.ssh/id_rsa;
        git push git@github.com:${TRAVIS_REPO_SLUG} gh-pages:gh-pages;
      else
        git status;
        git diff --no-color | head -n 500;
      fi;
    fi

notifications:
  branches:
    only:
      - master
  email:
    recipients:
      secure: OzppTS3kOkp5+052T8DMtXiNmUO5OttAY01kC1lDqwdPVAQiFvrnR3iqz/AJIJk5bNsI0vbmRtCBL4PnH3aUm7CUpXN3RF7vF0vpl0PxPMc/Ms4Trsrv96jqPyoJoACRqgk6W7/pdr8OXbYTh+7u2bO9/sUaZTDT/PbH9RQdKrDa2u+uebL9s0FTo/ObZSNXRAoXmSY46gDXzWbEVO2co6ETu4eXy/Bu0wvhB4jXneA+0sv8dXAmRmvL1tsxTeAEcV2MxLlaiVPAyvpCLzt3ZRvkohAjCeQaVTTo8hP0S7YdAMwUmAcMI8NASWVh8fcaFV72IsFkg7nD2Jiv7mRt52vwqDiJLw65LN9/+ltrK142F/nFUSeB9ynPBjbpXyEMl4nsBbO9hk5io4lKYQ/EJ2WJyCPaFtuy1fR9Gzrjj/LwKPw2WrxAlrlNYlIFdMDvltTXGegheVNePDHSOc6AS/32VW4A8fZh5gUAfB96XveRj0fGegCyFdIzErZg4fiZxOEDkqeB8sxuPnX+ylKr2gWsjpfs+etjnANVsgfPMOWaIsW8K2FqVIiTEoGGELoQHEe5uzOcXgtRQSbji2U28c5pRhNHdoitODwlTMVE/3WEiQksFGztR675LlPfF15+HyjWnAS/gN5vLIqmrQoZcp1+Pbr4ebxwTcL4JSGUaPs=
