# [flecsi]
CALI_SERVICES_ENABLE=aggregate,event,mpi,mpireport,timestamp
CALI_MPIREPORT_FILENAME=report.cali
CALI_EVENT_ENABLE_SNAPSHOT_INFO=false
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_MPIREPORT_CONFIG="select FleCSI-Execution, count(),min(sum#time.duration) as \"min-time\", max(sum#time.duration) as \"max-time\", percent_total(sum#time.duration) as \"total-time-%\" where FleCSI-Execution format table order by percent_total#sum#time.duration desc"

# [user]
CALI_SERVICES_ENABLE=aggregate,event,mpi,mpireport,timestamp
CALI_MPIREPORT_FILENAME=report.cali
CALI_EVENT_ENABLE_SNAPSHOT_INFO=false
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_MPIREPORT_CONFIG="select User-Execution, count(),min(sum#time.duration) as \"min-time\", max(sum#time.duration) as \"max-time\", percent_total(sum#time.duration) as \"total-time-%\" where User-Execution format table order by percent_total#sum#time.duration desc"

# [all]
CALI_SERVICES_ENABLE=aggregate,event,mpi,mpireport,timestamp
CALI_MPIREPORT_FILENAME=report.cali
CALI_EVENT_ENABLE_SNAPSHOT_INFO=false
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_MPIREPORT_CONFIG="select FleCSI-Execution,User-Execution,count(),min(sum#time.duration) as \"min-time\", max(sum#time.duration) as \"max-time\", percent_total(sum#time.duration) as \"total-time-%\" format table order by percent_total#sum#time.duration desc"
